@model List<Category> 


    @foreach (var category in Model)
    {
                <li class="nav-item">
                    <a class="nav-link color-green-hover" href="/articles/category/">@category.CategoryName</a>
                </li>
             
       
    }
