
<form method="post">

    <div class="card">

        <h5 ass="card-title">Create Role</h5>
    </div>
    <div class="card-body">
        <div class="form-group">
            <input type="text" name="Name" placeholder="Role" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Create" />
        </div>
    </div>
</form>